# Diamond Company Analytics Challenge

**Time:** 35 minutes

**Scenario:** You are the new data analyst at a prestigious diamond company. The CEO has called an urgent meeting and needs answers to critical business questions about the inventory.

**Your Mission:** Analyze the diamond inventory data and provide insights to guide strategic decisions.

In [2]:
import polars as pl

# Load the diamonds dataset
print("Loading diamonds dataset...")
df = pl.read_csv('https://raw.githubusercontent.com/pycaret/pycaret/master/datasets/diamond.csv')
print("Dataset loaded successfully!")

Loading diamonds dataset...
Dataset loaded successfully!

## Section 1: Initial Inventory Assessment (5 minutes)

The CEO walks in: "Before we dive into specifics, I need to understand what we're working with. Give me the basics about our inventory database."

### Question 1: "How extensive is our inventory database?"

The CEO needs to know the scale of data you're analyzing.

In [3]:
# Your code here:
print(f"The scale of our inventory database is {df.shape[0]} rows and {df.shape[1]} columns.")

The scale of our inventory database is 6000 rows and 8 columns.

### Question 2: "What information do we track about each diamond?"

List all the characteristics we record.

In [4]:
# Your code here:
print("The information we tracked about each diamond:")
for col in df.columns:
  print(f"{col}")

The information we tracked about each diamond:
Carat Weight
Cut
Color
Clarity
Polish
Symmetry
Report
Price

### Question 3: "When I look at one line in this database, what am I looking at?"

Explain in business terms:

**Your answer:** Each row represents: A diamond

## Section 2: Strategic Business Questions (20 minutes)

The CEO continues: "Now let's get to the important questions. Our board meeting is tomorrow and I need concrete numbers."

### Question 4: "We're considering expanding our storage facilities. How many total carats do we have in inventory? I need to know if our vaults can handle the weight."

Think about what measurement would help answer this.

In [5]:
# Your code here:
carats = df.select(pl.col("Carat Weight").sum()).item()
print(f"We have a total of {carats} carats in inventory.")

We have a total of 8007.120000000001 carats in inventory.

### Question 5: "Our new marketing campaign claims we have 'the widest variety of cuts in the industry.' Can you verify this?"

The CEO wants to know about variety, not quantity.

In [6]:
# Your code here:
variety_cuts = df.select(pl.col("Cut").n_unique()).item()
print(f"Our variety of cuts: {variety_cuts}")

Our variety of cuts: 5



---



---

### Question 6: "I'm meeting with our insurance company. They need to know our price exposure - what's our most and least valuable diamond?"

In [7]:
# Your code here:

most_valuable = df.sort("Price", descending=True).head(1)
least_valuable = df.sort("Price", descending=False).head(1)

print("Most valuable diamond:")
display(most_valuable)

print("\nLeast valuable diamond:")
display(least_valuable)

Most valuable diamond:

shape: (1, 8)
┌──────────────┬───────┬───────┬─────────┬────────┬──────────┬────────┬────────┐
│ Carat Weight ┆ Cut   ┆ Color ┆ Clarity ┆ Polish ┆ Symmetry ┆ Report ┆ Price  │
│ ---          ┆ ---   ┆ ---   ┆ ---     ┆ ---    ┆ ---      ┆ ---    ┆ ---    │
│ f64          ┆ str   ┆ str   ┆ str     ┆ str    ┆ str      ┆ str    ┆ i64    │
╞══════════════╪═══════╪═══════╪═════════╪════════╪══════════╪════════╪════════╡
│ 2.79         ┆ Ideal ┆ D     ┆ IF      ┆ EX     ┆ EX       ┆ GIA    ┆ 101561 │
└──────────────┴───────┴───────┴─────────┴────────┴──────────┴────────┴────────┘

Least valuable diamond:

shape: (1, 8)
┌──────────────┬──────┬───────┬─────────┬────────┬──────────┬────────┬───────┐
│ Carat Weight ┆ Cut  ┆ Color ┆ Clarity ┆ Polish ┆ Symmetry ┆ Report ┆ Price │
│ ---          ┆ ---  ┆ ---   ┆ ---     ┆ ---    ┆ ---      ┆ ---    ┆ ---   │
│ f64          ┆ str  ┆ str   ┆ str     ┆ str    ┆ str      ┆ str    ┆ i64   │
╞══════════════╪══════╪═══════╪═════════╪════════╪══════════╪════════╪═══════╡
│ 0.77         ┆ Good ┆ I     ┆ VS1     ┆ VG     ┆ G        ┆ AGSL   ┆ 2184  │
└──────────────┴──────┴───────┴─────────┴────────┴──────────┴────────┴───────┘

### Question 7: "Which color grades should we focus on in our premium line? I need typical prices across our color spectrum."

The CEO wants to understand pricing patterns.

In [11]:
# Your code here:

typical_price = df.group_by("Color").agg(pl.col("Price").mean().alias("Typical Price")).sort("Typical Price", descending=True)
typical_price

shape: (6, 2)
┌───────┬───────────────┐
│ Color ┆ Typical Price │
│ ---   ┆ ---           │
│ str   ┆ f64           │
╞═══════╪═══════════════╡
│ D     ┆ 15255.783661  │
│ F     ┆ 12712.241856  │
│ G     ┆ 12520.050633  │
│ E     ┆ 11539.190231  │
│ H     ┆ 10487.347544  │
│ I     ┆ 8989.636364   │
└───────┴───────────────┘

**Reflection:** After analyzing by color, how has your view of the data changed? What does each row in your result represent now?

**Your answer:** New grain = a color grade; each row now represents the typical (average) price of a color grade.

## Section 3: Advanced Strategic Analysis (10 minutes)

The CEO leans forward: "These next questions will shape our strategy for next year."

### Question 8: "We're thinking of specializing in certain clarity grades. For our investor deck, I need a complete breakdown showing: how many diamonds we have in each clarity grade, their typical price, and the total carats we're holding for each grade."

In [20]:
# Your code here:

diamond_counts = df.group_by("Clarity").agg(pl.len().alias("Number of Diamonds"))
typical_price_clarity = df.group_by("Clarity").agg(pl.col("Price").mean().alias("Typical Price"))
total_carats = df.group_by("Clarity").agg(pl.col("Carat Weight").sum().alias("Total Carats"))

breakdown = diamond_counts.join(typical_price_clarity, on="Clarity").join(total_carats, on="Clarity").sort("Number of Diamonds", descending=True)
breakdown

shape: (7, 4)
┌─────────┬────────────────────┬───────────────┬──────────────┐
│ Clarity ┆ Number of Diamonds ┆ Typical Price ┆ Total Carats │
│ ---     ┆ ---                ┆ ---           ┆ ---          │
│ str     ┆ u32                ┆ f64           ┆ f64          │
╞═════════╪════════════════════╪═══════════════╪══════════════╡
│ SI1     ┆ 2059               ┆ 8018.864012   ┆ 2563.69      │
│ VS2     ┆ 1575               ┆ 11809.053333  ┆ 2170.81      │
│ VS1     ┆ 1192               ┆ 13694.113255  ┆ 1682.74      │
│ VVS2    ┆ 666                ┆ 14142.177177  ┆ 876.58       │
│ VVS1    ┆ 285                ┆ 16845.680702  ┆ 389.43       │
│ IF      ┆ 219                ┆ 22105.844749  ┆ 316.0        │
│ FL      ┆ 4                  ┆ 63776.0       ┆ 7.87         │
└─────────┴────────────────────┴───────────────┴──────────────┘

### Question 9: "My luxury competitor claims they have the best prices for every cut-color combination. Show me our pricing structure across these combinations - I want to see where we're competitive."

In [28]:
# Your code here:

pricing_cut_color = df.group_by(["Cut", "Color"]).agg(
    pl.col("Price").mean().alias("Typical Price")
).sort("Typical Price", descending=True)

pricing_cut_color

shape: (30, 3)
┌─────────────────┬───────┬───────────────┐
│ Cut             ┆ Color ┆ Typical Price │
│ ---             ┆ ---   ┆ ---           │
│ str             ┆ str   ┆ f64           │
╞═════════════════╪═══════╪═══════════════╡
│ Signature-Ideal ┆ D     ┆ 19823.1       │
│ Ideal           ┆ D     ┆ 18461.953571  │
│ Ideal           ┆ F     ┆ 14729.426997  │
│ Ideal           ┆ G     ┆ 13570.310145  │
│ Signature-Ideal ┆ F     ┆ 13247.947368  │
│ …               ┆ …     ┆ …             │
│ Fair            ┆ F     ┆ 6063.625      │
│ Fair            ┆ D     ┆ 6058.25       │
│ Fair            ┆ H     ┆ 5908.5        │
│ Fair            ┆ E     ┆ 5370.625      │
│ Fair            ┆ I     ┆ 4573.1875     │
└─────────────────┴───────┴───────────────┘

**Reflection:** How specific is your analysis now? What level of detail does each row represent?

**Your answer:** New grain = cut-color relationship. Each row now represents the typical (average) price for diamonds with a certain cut and color.

### Question 10: URGENT - "Our biggest client is interested in purchasing entire inventory segments. They asked: 'Which color-cut combinations represent your highest total inventory value?' Show me the top 5 most valuable inventory segments by total worth, and include how many diamonds are in each segment."

This is critical for tomorrow's negotiation.

In [34]:
# Your code here:

valuable_inventory = df.group_by(["Color", "Cut"]).agg(
    pl.sum("Price").alias("Total Inventory Value"),
    pl.len().alias("Number of Diamonds")
).sort("Total Inventory Value", descending=True)

valuable_inventory.head(5)

shape: (5, 4)
┌───────┬───────────┬───────────────────────┬────────────────────┐
│ Color ┆ Cut       ┆ Total Inventory Value ┆ Number of Diamonds │
│ ---   ┆ ---       ┆ ---                   ┆ ---                │
│ str   ┆ str       ┆ i64                   ┆ u32                │
╞═══════╪═══════════╪═══════════════════════╪════════════════════╡
│ G     ┆ Ideal     ┆ 9363514               ┆ 690                │
│ G     ┆ Very Good ┆ 7140620               ┆ 578                │
│ F     ┆ Very Good ┆ 5648327               ┆ 455                │
│ F     ┆ Ideal     ┆ 5346782               ┆ 363                │
│ H     ┆ Ideal     ┆ 5279687               ┆ 458                │
└───────┴───────────┴───────────────────────┴────────────────────┘

## Debrief

Congratulations! You've just completed your first day as the diamond company's data analyst.

Remember:
- CEOs speak in business language, not technical terms
- Always understand what each row represents before analyzing
- Business questions contain clues about which operations to use